use nix shell.nix

export PATH="/run/user/1000/fnm_multishells/418075_1707250905876/bin":$PATH
export FNM_DIR="/home/grim_reaper/.local/share/fnm"
export FNM_MULTISHELL_PATH="/run/user/1000/fnm_multishells/418075_1707250905876"
export FNM_COREPACK_ENABLED="false"
export FNM_VERSION_FILE_STRATEGY="local"
export FNM_NODE_DIST_MIRROR="https://nodejs.org/dist"
export FNM_RESOLVE_ENGINES="false"
export FNM_ARCH="x64"
export FNM_LOGLEVEL="info"
